.App {
  text-align: center;
  color: #fff9eb;
  font-family: "Alice", serif;
}

.buttons {
  color: #fff9eb;
  background-color: #19197b;
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  text-decoration: none;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  transition: 0.5s;
}

#monthlyPromptComp {
  display: grid;
  grid-template-rows: 100px 10px 100px;
  justify-items: center;
  align-items: center;
}

.buttons:hover {
  color: #19197b;
  background-color: #fff9eb;
  transition: 0.5s;
}

.nav{
  display:flex;
  justify-content: space-evenly;
}

#responsesComp {
  display: grid;
  grid-template-rows: 100px 10px 100px;
  justify-items: center;
  align-items: center;
}

#formComp {
  display: grid;
  grid-template-rows: 100px 10px 100px;
  justify-items: center;
  align-items: center;
}

#formFields{
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}

.textField{
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  padding: 10px;
  transition: 0.5s;
}

#submitbutton{
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  color: #fff9eb;
  background-color: #19197b;
  font-family: "Alice", serif;
  padding: 10px;
  transition: 0.5s;
}

#submitbutton:hover {
  color: #19197b;
  background-color: #fff9eb;
  transition: 0.5s;
}

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
