.App {
  text-align: center;
  color: #fff9eb;
  font-family: "Alice", serif;
}

.largeText {
  font-size: 32px;
}

.buttons {
  color: #fff9eb;
  background-color: #19197b;
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  transition: 0.5s;
}

.buttons:hover {
  color: #19197b;
  background-color: #fff9eb;
  transition: 0.5s;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

#monthlyPromptComp {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 90px 20px 100px;
  justify-items: center;
  align-items: center;
}

#formComp {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 90px 20px 100px 100px;
  justify-items: center;
  align-items: center;
}

#formFields {
  display: flex;
  justify-content: space-evenly;
  width: 450px;
}

.textField {
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  padding: 10px;
  transition: 0.5s;
}

.submitButton {
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 2px;
  color: #fff9eb;
  background-color: #19197b;
  font-family: "Alice", serif;
  padding: 10px;
  transition: 0.5s;
}

.submitButton:hover {
  color: #19197b;
  background-color: #fff9eb;
  transition: 0.5s;
}

#responsesComp {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 90px 20px 100px;
  justify-items: center;
  align-items: center;
}

#responsesContainer {
  max-width: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.responses {
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 1px;
  margin: 5px;
  padding: 10px;
  display: grid;
  min-height: 100px;
  grid-template-areas:
    "c c c l"
    "c c c l"
    "c c c l";
  text-align: left;
  background-color: #19197b;
}

.responseText {
  grid-area: c;
  margin: 1px;
  justify-self: left;
}

.likeButtons {
  grid-area: l;
  height: 32px;
  width: 32px;
  color: #fff9eb;
  background-color: #19197b;
  border: none;
  font-size: 30px;
  justify-self: right;
  outline: none;
  transition: 0.5s;
}

.likeButtons:hover {
  transition: 0.5s;
}

#respPageNav {
  display: flex;
}

#hallOfFameComp {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  grid-template-rows: 90px 50px 40px;
  justify-items: center;
  align-items: center;
}

#monthSelection {
  display: flex;
  justify-content: space-around;
}

#months {
  border-radius: 10px;
  border-style: solid;
  border-color: #fff9eb;
  border-width: 1px;
  padding: 10px;
  font-family: "Alice", serif;
  color: #19197b;
  margin-right: 5px;
}

#monthSubmit {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .App {
    margin: 100px;
  }
}
